---
---
<!DOCTYPE HTML>
<html>
    <head>
        {% include RequiredHeaders.html %}
        <title>UPADS</title>
    </head>
    <body>
        {% include LoggedOutNavigationBar.html %}
        <div class="FlexCenter">
            <img src="/Images/Vectors/UPADS.svg" />
            <h1 class="HorizontallyCenteredText">
                This is the official site for the Unified Product Aggregation and Dissemination System.<br>
                You must be registered in order to use it. If you are already registered, please log in.
            </h1>
        </div>
    </body>
</html>